{% ckan_extends %}

{% block dashboard_nav_links %}
    {{ super() }}

      {% if current_user and current_user.sysadmin or g.userobj.get_groups('organization', 'admin') or g.userobj.get_groups('organization', 'editor') %}
          {{ h.build_nav_icon('qdes.dashboard_review_datasets', _('Review Datasets'), icon='check-square-o') }}
        {% endif %}
      {% endif %}

       {% if current_user and current_user.sysadmin %}
          {{ h.build_nav_icon('qdes.dashboard_reports', _('Reports'), icon='bar-chart') }}
        {% endif %}
      {% endif %}
    </ul>
  </header>
{% endblock %}
